<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                  NARUTO ROAD TO BORUTO
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="/form" >
                        <b>Name</b> <input type="text" name="name"/><br>
                        <b>Characteristic</b><input type="text" name="characteristic"/><br>
                        <b>Image</b><input type="file"  name="file"><br><br>
                        <button type="submit">Ajouter</button>
                        </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <% for(var i=0; i < videodata.length; i++) { %>
                        <div class="col-4">
                            <div class="card justify-content-center">
                                <div class="card-header">
                                    <h4>
                                       NOM: <%= videodata[i].name %>
                                    </h4>
                                </div>
                                <img id="card_imgId" src="<%= videodata[i].photo %>" class="card-img-top" alt="img">
                                <div class="card-body">
                                    <h3>
                                       CHARACTERISTICS: <%= videodata[i].characteristics%>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <br>
                        <% } %>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>